{% extends '::base.html.twig' %}

{% block title%}
    Editar Producto
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Editar Producto</h2>
    </br>
    {{ form_start ( edit_form, {'action': path('producto_update', { 'id': entity.id }), 'method': 'put'}) }}
        {{ form_row ( edit_form.codigo ) }}
        {{ form_row ( edit_form.descripcion ) }}
        {{ form_row ( edit_form.stock ) }}
        {{ form_row ( edit_form.alarma ) }}
        {{ form_label ( edit_form.valor ) }}
        <div class="control-group">
            <div class="controls">
            <div class="input-prepend">
                <span class="add-on">$</span>
                {{ form_widget ( edit_form.valor ) }}
            </div>
        </div>
        {{ form_row ( edit_form.categoria ) }}
        {{ form_row ( edit_form.marca ) }}
        <p>
            </br>
            <button class="btn btn-primary btn-large" type="submit">INGRESAR</button>
        </p>
    {{ form_end ( edit_form ) }}
    <a href="{{ path('producto') }}">
        <i class="icon-chevron-left"></i>VOLVER
    </a>
{% endblock %}