{% extends '::base.html.twig' %}

{% block title%}
    Listado de Productos
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Listado de Productos</h2>
    <a class="new btn btn-primary btn-large" href="{{ path('producto_new') }}">NUEVO PRODUCTO</a>
    </br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Alarma</th>
                <th>Valor</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.alarma }}</td>
                <td>$ {{ entity.valor }}</td>
                <td>
                    <a href="{{ path('producto_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i> IR
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}