{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Producto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>Alarma</th>
                <td>{{ entity.alarma }}</td>
            </tr>
            <tr>
                <th>Rutaimagen</th>
                <td>{{ entity.rutaImagen }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('producto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('producto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('producto_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
