{% extends '::base.html.twig' %}

{% block title%}
    Stock de productos
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Stock de productos</h2>
    </br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Alarma</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.stock < entity.alarma %}
                <tr class="error">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.alarma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}