{% extends '::base.html.twig' %}

{% block title%}
    Stock de productos
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Stock de productos</h2>
    </br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>C칩digo</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Descripci칩n</th>
                <th>Stock</th>
                <th>Alarma</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producto_edit', { 'id': entity.productoID }) }}">{{ entity.codigo }}</a></td>
                <td>{{ entity.maDesc }}</td>
                <td>{{ entity.catDesc }}</td>
                <td>{{ entity.proDesc }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.alarma }}</td>
            {% if entity.stock <= entity.alarma and entity.stock != 0%}
                <td> <span class="badge badge-important">Bajo Stock</span> </td>
            {% elseif entity.stock == 0 %}
                <td> <span class="badge badge-important">SIN STOCK</span> </td>
            {% else %}
                <td> <span class="badge badge-success">Alto Stock</span> </td>
            {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>

        $('.table').dataTable( {
            "sDom": '<"top"<"right-pags"p><"left-search"f>>rt<"bottom"i>',

            /*Ordenar por ..*/
            "aaSorting": [[ 6, "desc" ]],

            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true,
            "iDisplayLength": 30,

            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por p치gina",
                "sZeroRecords": "No se encontr칩 nada - Lo sentimos :C",
                "sInfo": "Mostrando desde registro _START_ al _END_ de _TOTAL_ registros en total",
                "sInfoEmpty": "Mostrando desde registro 0 al 0 de 0 TOTALES",
                "sInfoFiltered": "(filtrado de _MAX_ productos)",
                "sSearch": "Buscar:",
                
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            }

        } );

        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sSortAsc": "header headerSortDown",
            "sSortDesc": "header headerSortUp",
            "sSortable": "header"
        } );

        $ ( document ).ready( function ( ) {

            $("#DataTables_Table_0_filter > label > input").focus();

        });

    </script>
{% endblock %}