{% extends '::base.html.twig' %}

{% block title%}
    Stock de productos
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Stock de productos</h2>
    </br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Alarma</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.stock < entity.alarma %}
                <tr class="error">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.alarma }}</td>
            {% if entity.stock < entity.alarma and entity.stock != 0%}
                <td> <span class="badge badge-important">Bajo Stock</span> </td>
            {% elseif entity.stock == 0 %}
                <td> <span class="badge badge-important">SIN STOCK</span> </td>
            {% else %}
                <td> <span class="badge badge-success">Alto Stock</span> </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}