{% extends '::base.html.twig' %}

{% block title%}
    Venta
    {{ parent() }}
{% endblock%}

{% block body %}
	<div id="output"></div>
	<h2>Venta</h2>
	<form id="searchForm" class="well form-search" method="POST" action="{{path('_buscar')}}">
		<input id="search" type="text" class="input-long ui-autocomplete-input">
		<button class="search-btn btn btn-primary btn-large">
			<i class="icon-search icon-white"></i>
			BUSCAR
		</button>
		<h5 id="atendido">Atendido por</h5>
		<select id="vendedores">
			{% for vendedor in vendedores %}

			  <option value="{{vendedor.rut}}">{{vendedor.nombre}} {{vendedor.apellidoPa}} {{vendedor.apellidoMa}}</option>
	 
			{% endfor %}
		</select>
	</form>

	<table class="items table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Código</th>
				<th>Marca</th>
				<th>Categoria</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="elementos">
		</tbody>
	</table>
	<div class="well pull-right extended-summary">
		<h3>Total</h3>
		<table class="table">
			<tbody>
				<tr>
					<td class="detail-view table table-striped table-condensed">
						<table>
							<tbody>
								<tr>
									<th>Sub Total:</th>
									<td id="SUBTOTAL" class="textright">$ 0</td>
								</tr>
								<tr>
									<th id="dscto">Descuentos:</th>
									<td class="textright"><input class="descuento" type='text' value='0' size='4px'> </input> %</td>
								</tr>
								<tr>
									<th>Total:</th>
									<td id="TOTAL" class="textright">$ 0</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="results sidebar-content" style="text-align:right" colspan="2">
						<span id="total" class="btn btn-info btn-large disabled">
							VENDER
						</span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div id="dialog" style="display:none" title="Lista de Productos">
		<table class="items table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Código</th>
					<th>Marca</th>
					<th>Categoria</th>
					<th>Descripción</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody id="elements">
			</tbody>
		</table>
	</div>

	<div id="dialog-error" title="Error en Stock de Producto" style="display:none;">
		<p>
			</br>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
			¡NO HAY STOCK DEL PRODUCTO!
			</br>
		</p>
	</div>

	<div id="dialog-stock" title="Error en Stock de Producto" style="display:none;">
		<p>
			</br>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
			El stock disponible del producto es <div class="stockProducto"></div> unidades.
			</br>
		</p>
	</div>
{% endblock %}