{% extends '::base.html.twig' %}

{% block title%}
    Nueva Categoria
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Nueva Categoria</h2>
    </br>
    <form action="{{ path('categoria_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <p>
            </br>
            <button class="btn btn-primary btn-large" type="submit">INGRESAR</button>
        </p>
    </form>

    <a href="{{ path('categoria') }}">
        <i class="icon-chevron-left"></i>VOLVER
    </a>
{% endblock %}
