{% extends '::base.html.twig' %}

{% block title%}
    Detalle Categoria
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Detalle Categoria</h2>
    <a class="new btn btn-primary btn-large" href="{{ path('categoria_edit', { 'id': entity.id }) }}">
            <i class="icon-edit"></i> EDITAR
    </a>
    <form class="new del" action="{{ path('categoria_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger btn-large" type="submit"><i class="icon-remove"></i> ELIMINAR</button>
    </form>
    </br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('categoria') }}">
        <i class="icon-chevron-left"></i>VOLVER
    </a>
{% endblock %}