{% extends '::base.html.twig' %}

{% block title%}
    Nueva Marca
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Nueva Marca</h2>

    <form action="{{ path('marca_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <p>
            <button class="btn btn-primary" type="submit">INGRESAR</button>
        </p>
    </form>

    <a href="{{ path('categoria') }}">
        <i class="icon-chevron-left"></i>VOLVER
    </a>
{% endblock %}
